<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glenn Ludszuweit</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="/img/favicon/favicon.ico" />
</head>

<body>
    <!-- Icon Navigation -->
    <div class="icon-nav">
        <a href="/"><i class="fa fa-home"></i></a>
        <a href="/#about"><i class="fa fa-address-card"></i></a>
        <a href="/#projects"><i class="fa fa-tasks"></i></a>
        <a href="/#contact"><i class="fa fa-envelope"></i></a>
    </div>

    {{{body}}}

    <!-- Footer -->
    <div id="footer">
        <p>&copy Glenn Ludszuweit</p>
    </div>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</body>

</html>