doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="shortcut icon" type="image/png" href="/assets/favicon.ico")
    title Glenn Ludszuweit
    meta(name="keywords" content="[username], [name], skill")
    meta(name="description" content="[Your name here] | Developer")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://unpkg.com/scrollreveal")
    script.
      ScrollReveal({ reset: false });
    script(async="" defer="defer" src="https://buttons.github.io/buttons.js")
    link(rel="shortcut icon" href="/favicon.png")
    link(href="/css/main.cbc3538c07ce6bcd1a81.css" rel="stylesheet")
  body

    block content

    script(type="text/javascript" src="/js/vendor.b9d6bd77738a92361207.bundle.js")
    script(type="text/javascript" src="/js/main.0f61b610b69570b47a5d.bundle.js")
    script(type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js")
    script(type="text/javascript" src="/js/portfolio.js")