<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type=image/png href=/assets/favicon.png>
    <title>Glenn Ludszuweit</title>
    <meta name=keywords content="[username], [name], skill">
    <meta name=description content="[Your name here] | Developer">
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css>
    <script src=https://unpkg.com/scrollreveal></script>
    <script>ScrollReveal({ reset: false });</script>
    <script async defer=defer src=https://buttons.github.io/buttons.js></script>
    <link rel="shortcut icon" href=/favicon.png>
    <link href=/main.cbc3538c07ce6bcd1a81.css rel=stylesheet>
</head>

<body>

    {{{body}}}

    <script type=text/javascript src=/vendor.b9d6bd77738a92361207.bundle.js></script>
    <script type=text/javascript src=/main.0f61b610b69570b47a5d.bundle.js></script>
</body>

</html>